.conteudo{
    display: flex;
}

:root {
    --primaria: #58a4b0;
    --secundaria: #1600A6;
    --secundaria-ativa: #cccccc;
    --fundo: #ffffff;
    --fundo-detalhes: #FEF2A8;
    --fundo-input: #ececec;
}